* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    color: red;
}

body {
    padding: 10px;
}

.doc {
    background-color: #f0f0f0; 
    padding: 15px;
}

.docs {
    padding: 30px;
}

.doc-table {
    width: 100%;
}

.select-doc {
    display: inline-block;
    border: 0px;
}
