{% extends 'base.html' %}

{% block head %}


{% endblock %}
{% block body %}

<header>
    <h1> Busca Doc </h1>
</header>

<form action="{{ url_for('search') }}" method="post">
    <label for="query">Query:</label>
    <input name="query" type="text" id="query" autocomplete="off" class="form-control" placeholder="Digite sua pesquisa aqui">
    <label for="search_mode">Busca por Solicitação de Trabalho:</label>
    <input name="search_mode" type="checkbox" id="search_mode">
    <br>
    <input type="submit" value="Buscar" class="btn btn-primary">
</form>

<hr>
<br>

{% if len!=0 %}
<div>
    <b>Buscando por:</b> {{ query }}
</div>
<div class="docs">
<form action="{{ url_for('submit', query=query) }}" method="post">
    <input name="search_mode" type="hidden" id="search_mode" value="{{ st_search }}">
    <table class="table">
        <thead class="thead-dark">
            {% if st_search %}
            <tr>
                <th scope="col">#</th>
                <th scope="col">Proposição</th>
                <th scope="col">Solicitação de Trabalho</th>
              </tr>
            {% else %}
            <tr>
                <th scope="col">#</th>
                <th scope="col">Proposição</th>
                <th scope="col">Ementa</th>
              </tr>
            {% endif %}
        </thead>
        {% for i in range(0,len) %}
        <tr>
            <th scope="row">
                [{{ i+1 }}]
                <br>
                <div class="select-doc">
                    <input type="radio" id="i" name="{{ names[i] }}&{{ scores[i] }}&{{ scores_normalized[i] }}" value="i" checked>
                <label for="i">Irrelevante</label>
                </div>
		<hr>
                <div class="select-doc">
                <input type="radio" id="pr" name="{{ names[i] }}&{{ scores[i] }}&{{ scores_normalized[i] }}" value="pr">
                <label for="pr">Pouco Relevante</label>
                </div>
		<hr>
                <div class="select-doc">
                <input type="radio" id="r" name="{{ names[i] }}&{{ scores[i] }}&{{ scores_normalized[i] }}" value="r">
                <label for="r">Relevante</label>
                </div>
            </th>
            <td style="white-space: pre-wrap;" class="doc">
                {% if st_search %}
                    {{ names[i] }}
                {% else %}
                    <a target="_blank" href="https://www.camara.leg.br/proposicoesWeb/fichadetramitacao?idProposicao={{ ids[i] }}">{{ names[i] }}</a>
                {% endif %}
            </td>
            <td>{{ docs[i] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Documentos Faltantes (separados por vírgula)</h3>
    <input name="extra-results" type="text" id="extra-results" autocomplete="off" class="form-control" placeholder="PL XXXX/XXXX, PL XXXX/XXXX, RIC XXXX/XXXX">
    <br>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>
</div>
{% endif %}

{% endblock %}
